aim==3.28.0
aim-ui==3.28.0
aimrecords==0.0.7
aimrocks==0.5.2
aiofiles==23.2.1
alembic==1.13.1
annotated-types==0.6.0
# antspyx==0.4.2
antspyx
anyio==4.9.0
backoff==2.2.1
base58==2.0.1
beartype==0.17.2
boto3==1.34.108
botocore==1.34.108
cachetools==5.3.2
chart-studio==1.1.0
denoising-diffusion-pytorch==1.11.0
ema-pytorch==0.4.3
fastapi==0.109.0
greenlet==3.0.3
grpcio==1.62.2
jax==0.4.23
jaxlib==0.4.23+cuda12.cudnn89
jaxtyping==0.2.25
jmespath==1.0.1
jupyter-collaboration==3.1.0
jupyter-collaboration-ui==1.1.0
jupyter-docprovider==1.1.0
jupyter-events==0.12.0
jupyter-server-fileid==0.9.3
jupyter-server-ydoc==1.1.0
jupyter-ydoc==3.0.3
lpips==0.1.4
mako==1.3.0
ml-dtypes==0.3.2
monai-weekly==1.4.dev2434
monotonic==1.6
more-itertools==10.2.0
# mrinr==0.0.post1.dev1+ga22b1fd
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-cupti-cu12==12.3.101
nvidia-cuda-nvcc-cu12==12.3.107
nvidia-cuda-nvrtc-cu12==12.3.107
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==8.9.7.29
nvidia-cufft-cu12==11.0.12.1
nvidia-cusolver-cu12==11.5.4.101
nvidia-cusparse-cu12==12.2.0.103
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
opt-einsum==3.3.0
plotly==5.18.0
protobuf==4.25.2
py3nvml==0.2.7
pycrdt==0.12.9
pycrdt-websocket==0.15.4
pydantic==2.5.3
pydantic-core==2.14.6
python-dotenv==1.0.0
python-graphviz==0.20.3
pytorch-fid==0.3.0
pytorch-msssim==1.0.0
restrictedpython==7.0
retrying==1.3.4
s3transfer==0.10.1
segment-analytics-python==2.2.3
sqlalchemy==2.0.39
sqlite-anyio==0.2.3
starlette==0.35.1
sympy==1.13.1
tenacity==8.2.3
tlparse==0.3.29
torch-interpol==0.2.6
torchlens==0.1.17
torchviz==0.0.3
typeguard==2.13.3
uvicorn==0.26.0
websockets==12.0
xmltodict==0.13.0
